<div class="container">
    <form>
        <h4>Inserir pessoa</h4>
        <hr>
        <div class="form-group">
          <label for="nomecompleto">Nome completo</label>
          <input type="text" class="form-control" id="nomecompleto" aria-describedby="nomecompleto">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="email">
          </div>
          <div class="row">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>
            <div class="col-sm-6">      
                <button type="submit" class="btn btn-warning float-right" routerLink="/">Voltar</button>
            </div>
          </div>    
      </form>    
    </div>