<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="m-2"> Titulo </h4>
    </div>
    <div class="col-sm-6">      
      <lib-botao-adicionar></lib-botao-adicionar>
    </div>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Endereço</th>
        <th scope="col">Email</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Cristiano</td>
        <td>Rua Mark</td>
        <td>cristiano@consule.com.br</td>
        <td class="text-center">          
          <lib-icone-editar></lib-icone-editar>
          <lib-icone-visualizar></lib-icone-visualizar> 
          <a class="text-danger m-2"><i class="far fa-trash-alt"></i></a>
        </td>
      </tr>
      <tr>
        <td scope="row">Samuel</td>
        <td>Rua Jacob</td>
        <td>cristiano@consule.com.br</td>
        <td class="text-center">
          <lib-icone-editar></lib-icone-editar>
          <lib-icone-visualizar></lib-icone-visualizar>          
          <a class="text-danger m-2"><i class="far fa-trash-alt"></i></a>
        </td>
      </tr>
      <tr>
        <td scope="row">Leandro</td>
        <td>Rua Larry</td>
        <td>cristiano@consule.com.br</td>
        <td class="text-center">
          <lib-icone-editar></lib-icone-editar>
          <lib-icone-visualizar></lib-icone-visualizar>
          <a class="text-danger m-2"><i class="far fa-trash-alt"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>